$celery: #b7cf4b; // CTA 1
$cadmium-orange: #ef8533; // CTA 2
$nero: #252525; // body copy, heading, menu
$shady-lady: #9c9c9c; // heading subtitles
$jumbo: #878787; // product heading
$orchid-white: #fdfef4; // reverse body copy / CTA copy
$alabaster: #fcfcfc; // body background color
$very-light-grey: #eeeeee; // border
$medium-light-grey: #acacac; // border
$red: #d12028;