.fancy-checkbox-radio-group {
  display: flex;
  align-items: center;
  margin: 0 0 10px;

  &:last-child {
    margin-bottom: 0;
  }

  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  label {
    position: relative;
    margin-right: 0.45em;
    padding-left: 1.75em;
    padding-right: 0.75em;
    line-height: 2;
    cursor: pointer;
    &:before {
      box-sizing: border-box;
      content: " ";
      position: absolute;
      top: 0.3em;
      left: 0;
      display: block;
      width: 1.4em;
      height: 1.4em;
      border: 4px solid $cadmium-orange;
      border-radius: 0.25em;
      z-index: -1;
    }
  }

  input[type="radio"] + label::before {
    border-radius: 1em;
  }

  /* Checked */
  input[type="checkbox"]:checked + label,
  input[type="radio"]:checked + label {
    padding-left: 1em;
    color: $orchid-white;
    &:before {
      top: 0;
      width: 100%;
      height: 2em;
      background: $celery;
      border: none;
    }
  }

  /* Transition */
  label,
  label::before {
    -webkit-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease;
  }
}
