@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,600,800|Noto+Serif:100,400,600,800|Open+Sans:100,400,600,800");

$font-montserrat: "Montserrat", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
$font-noto-serif: "Noto Serif", serif;

body {
  font-family: $font-open-sans;

  .nav {
    font-family: $font-montserrat;
    font-size: 12px;
    text-transform: uppercase;

    a {
      text-decoration: none;

      &:visited {
        text-decoration: none;
      }
    }
  }

  h2 {
    font-family: $font-noto-serif;
    font-style: italic;
    font-size: 30px;
  }

  h3 {
    font-size: 15px;
    font-weight: 600;
  }
}
