@mixin cta() {
  text-transform: uppercase;
  padding: 5px 20px;
  border-radius: 20px;
  color: $orchid-white;
  background-color: $celery;
  font-size: 11px;
  text-decoration: none;
  text-align: center;
}

.cta {
  @include cta();

  &.secondary {
    background-color: $cadmium-orange;
  }
}

.message {
  padding: 15px;
  color: $orchid-white;
  font-size: 14px;
  line-height: 1.5em;

  &.error {
    background: $red;
  }

  &.success {
    background: $jumbo;
  }
}
