@import './reset.scss';
@import './colors.scss';
@import './fonts.scss';
@import './vars.scss';
@import './fancy-checkbox-radio';
@import './adaptive-placeholder-input.scss';
@import './global.scss';

@mixin active-nav() {
  content: '';
  background: url('./images/icon-like.png') no-repeat;
  display: block;
  width: 16px;
  height: 14px;
  position: absolute;
  margin: 2px 0 0;
  left: 50%;
  @include translate(-50%, 0);
}

@mixin very-light-grey-border($vertical-padding, $horizontal-padding) {
  border: 2px solid $very-light-grey;
  border-radius: 5px;
  padding: $vertical-padding $horizontal-padding;
}

@mixin card() {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 65px 0 0;
}

@mixin cardHeading() {
  text-transform: uppercase;
  position: absolute;
  top: -7px;
  left: 50%;
  @include translate(-50%, 0);
  background-color: $alabaster;
  padding: 0 8px;
  font-family: $font-montserrat;
  font-size: 12px;
  font-weight: 600;
}

$mobile: 768px;

body {
  background-color: $alabaster;
  color: $nero;
  background-image: url('./images/fruits-left.png'),
    url('./images/fruits-right.png');
  background-position: top left, top right;
  background-repeat: repeat-y;

  @media screen and (max-width: $mobile) {
    background-image: none;
  }

  #main {
    header {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: $mobile) {
        flex-direction: column;
        justify-content: center;
      }

      .logo {
        position: relative;
        background: url('./images/el-palo.png') no-repeat;
        width: 272px;
        height: 69px;
        display: block;
        margin: 50px 0 0 50px;

        @media screen and (max-width: $mobile) {
          margin: 30px auto;
        }

        h1 {
          position: absolute;
          left: -999em;
          top: -999em;
        }
      }

      .nav-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;

        .mobile-nav {
          display: none;

          span {
            font-size: 1.2em;
          }

          @media screen and (max-width: $mobile) {
            display: inline-block;
          }
        }

        .nav {
          border-top: 20px solid $cadmium-orange;
          padding: 50px 100px 0 0;
          display: flex;
          flex-direction: row;
          align-items: baseline;

          @media screen and (max-width: $mobile) {
            border-top: 0;
            flex-direction: column;
            align-items: center;
            padding: 0;
            display: none;

            &.is-shown {
              display: flex;
            }
          }

          li {
            margin: 0 25px 0 0;

            @media screen and (max-width: $mobile) {
              margin: 0 0 10px;
              flex-grow: 0;
            }

            a {
              position: relative;

              &:hover,
              &:focus,
              &.active {
                &:after {
                  @include active-nav();

                  @media screen and (max-width: $mobile) {
                    display: none;
                  }
                }
              }
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    .content-wrap {
      margin: 0 10px 0;
      display: flex;
      justify-content: center;

      .store-wrap,
      .orders-wrap,
      .admin-wrap,
      .login-wrap {
        margin: 70px auto;
      }

      .login-wrap {
        min-height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;

        > * {
          width: 350px;
        }

        .cta-group {
          display: flex;
          flex-direction: row;
          margin: 20px 0 0;

          > * {
            flex-basis: calc(50% - 5px);
            margin: 0 5px 0 0;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        form {
          display: flex;
          flex-direction: column;
        }
      }

      .admin-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;

        > * {
          margin: 65px 0 0;

          &:first-child {
            margin-top: 0;
          }

          > h2 {
            margin: 0 0 15px;
          }

          .show-prices-wrap {
            display: flex;
            flex-direction: row;
            align-items: baseline;

            h3 {
              margin: 0 20px 0 0;
            }
          }
        }

        .inventory-wrap {
          display: flex;
          flex-direction: column;

          .edit-product-form,
          form {
            display: flex;
            flex-direction: row;
          }

          .edit-product-form {
            margin: 0 0 10px;

            input[name='name'],
            input[name='price'] {
              flex-basis: 5%;
              flex-grow: 0;
              flex-shrink: 0;
            }

            textarea {
              flex-basis: 20%;
            }
          }
        }
      }

      .orders-wrap {
        display: flex;
        flex-direction: column;

        .order-card-wrap {
          h4 {
            color: $cadmium-orange;
            font-weight: 600;

            .order-name {
              margin: 0 0 0 5px;
            }
          }

          .live-date,
          .closed-date {
            color: $jumbo;
            font-size: 12px;
          }

          .products-wrap {
            padding: 5px 0 10px 10px;

            li {
              font-size: 14px;
            }
          }

          .pricing {
            margin: 0 5px 0;
          }

          .order-total,
          .pricing {
            font-size: 15px;
            font-weight: 600;
          }

          .cta-group {
            display: flex;
            flex-wrap: nowrap;
            margin: 10px 0 0;

            .cta {
              margin: 0 3px;
              flex-basis: calc(50% - 6px);

              &:first-child {
                margin-left: 0;
              }

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }

        .closed-orders-wrap {
          margin: 50px 0 0;
          display: flex;
          flex-direction: column;

          h2 {
            text-align: center;
            cursor: pointer;
            margin: auto;
            display: inline-block;

            &.closed {
              font-style: normal;
              font-family: $font-open-sans;
              font-size: 16px;
              @include cta();
            }
          }

          .order-cards {
            display: none;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            justify-content: center;

            &.visible {
              display: flex;
            }

            @media screen and (max-width: $mobile) {
              flex-direction: column-reverse;
            }

            .order-card-wrap {
              @include very-light-grey-border(22px, 20px);
              @include card();
              margin: 20px 20px;
              flex-basis: calc(33% - 80px);

              h4 {
                @include cardHeading();
              }

              .pricing-wrap {
                display: flex;
                flex-direction: row;
              }

              .cta {
                margin: 10px 0 0;
              }
            }
          }
        }

        .live-orders-wrap {
          h2 {
            text-align: center;
          }

          .tables-list {
            margin: 20px 0 0 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            @media screen and (max-width: $mobile) {
              flex-direction: column;
            }

            > li {
              @include very-light-grey-border(22px, 20px);
              @include card();
              margin: 20px 20px;
              flex-basis: calc(33% - 80px);

              @media screen and (max-width: $mobile) {
                flex-basis: calc(100% - 80px);
              }

              h3 {
                @include cardHeading();
              }

              .empty {
                text-align: center;
              }

              .order-card-wrap {
                border-top: 1px $shady-lady dotted;
                padding: 20px 0 0;
                margin: 30px 0 0;

                &:first-of-type {
                  margin: 0;
                  padding: 0;
                  border-top: 0;
                }
              }
            }
          }
        }
      }

      .store-wrap {
        display: flex;
        flex-direction: column;
        flex-basis: 60%;

        @media screen and (max-width: $mobile) {
          margin: 30px auto;
        }

        .button-group {
          display: flex;
          justify-content: center;

          .cta {
            margin: 0 5px 0 0;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        h2,
        h3 {
          text-align: center;
        }

        h2 {
          margin: 30px 0 0;
        }

        h3 {
          color: $shady-lady;
          margin: 20px 0 0 0;
          display: flex;
          flex-flow: column;

          .table,
          .order,
          .order-name {
            display: block;
            margin: 0 0 8px;

            &:last-child {
              margin-bottom: 0;
            }
          }

          .order {
            font-size: 0.8em;
          }

          .order-name {
            width: 50%;
            margin: auto;
          }
        }

        .order-total {
          text-align: center;
          margin: 5px 0 0;
          color: $cadmium-orange;
          font-family: $font-noto-serif;
          font-size: 22px;
        }

        .current-order-controls-wrap {
          @include very-light-grey-border(22px, 20px);
          margin: 45px auto 0;
          width: 465px;
          font-size: 14px;
          font-weight: 600;

          @media screen and (max-width: $mobile) {
            width: 290px;
            display: flex;
            flex-wrap: nowrap;

            > * {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
            }

            .price-selector-wrap {
              flex-basis: 60%;
            }

            .table-selector-wrap {
              flex-basis: 40%;
            }
          }
        }

        .product-type-wrap {
          @include very-light-grey-border(25px, 35px);
          @include card();

          h4 {
            @include cardHeading();
          }

          .products-wrap {
            display: flex;
            flex-wrap: wrap;

            @media screen and (max-width: $mobile) {
              flex-direction: column;
            }

            .product-wrap {
              padding: 0 15px;
              flex-basis: calc(33% - 30px);
              margin: 0 0 35px;
              color: $nero;

              &.sold-out {
                text-decoration: line-through;
                color: $medium-light-grey;

                .cta {
                  cursor: default;
                  color: $red;
                  background-color: $alabaster;
                  border-color: $red;
                  border-radius: 0;
                  border: 2px solid $red;
                  font-size: 16px;
                  @include sold-out-button();
                }
              }

              .title {
                display: flex;
                flex-direction: column;

                h5,
                .price {
                  text-align: center;
                }

                h5 {
                  position: relative;
                  font-weight: 400;

                  .count {
                    font-weight: 100;
                    margin: 0 5px 0;
                    flex-basis: 20%;
                  }
                }

                .price {
                  font-size: 12px;
                  margin: 8px 0 3px;
                  font-weight: 600;
                  color: $shady-lady;
                }
              }

              .cta-group {
                display: flex;
                flex-direction: column;
                margin: 5px auto 0;

                .cta {
                  &:last-child {
                    margin: 3px 0 0;
                  }
                }
              }
            }
          }
        }
      }
    }

    footer {
      background-color: $nero;
      color: $orchid-white;
      padding: 20px 10px 30px;
      font-size: 14px;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: $mobile) {
        flex-direction: column;

        > * {
          margin: 0 0 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      a {
        color: $orchid-white;
        text-decoration: none;
      }

      .nav-wrap {
        .mobile-nav {
          display: none;
        }

        .nav {
          li {
            display: inline-block;
            margin: 0 10px 0 0;

            &.last-child {
              margin-right: 0;
            }

            a {
              position: relative;

              &:hover,
              &:focus,
              &.active {
                &:after {
                  @include active-nav();
                }
              }
            }
          }
        }
      }
    }
  }
}
